<div *ngIf="!productoService.loaded"
    class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
  <div class="rk-items-cont">
    <!-- routerLink="/item/{{ producto.cod }}" -->
    <a *ngFor="let producto of productoService.productosFiltrado"
      [routerLink]="['/item', producto.cod]"
      class="animated fadeInDownBig rk-item">
      <img src="assets/productos/{{ producto.url }}.jpg" alt="">
      <div class="item-meta">
        <h2>{{ producto.titulo }}</h2>
        <p>{{ producto.categoria }}</p>
      </div>
    </a>
  </div>
</div>
